In [4]:
#https://pythonspot.com/en/tag/sql/
import sqlite3 as lite
import sys
 
con = None

In [5]:
try:
    con = lite.connect('test.db')
    cur = con.cursor()    
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print("SQLite version: %s" % data)             
except e:   
    print("Error %s:" % e.args[0])
    sys.exit(1)
finally:    
    if con:
        con.close()

SQLite version: 3.13.0

In [6]:
global cur
def inputCommands(lines):
    for line in lines.splitlines():
        cur.execute(line)

In [7]:
con = lite.connect('test.db')

In [8]:
with con:
    cur = con.cursor()
    commands = """CREATE TABLE Users(Id INT, Name TEXT)
    INSERT INTO Users VALUES(1,'Michelle')
    INSERT INTO Users VALUES(2,'Sonya')
    INSERT INTO Users VALUES(3,'Greg')
    """
    inputCommands(commands)

OperationalError: table Users already exists

In [8]:
print(con)

<sqlite3.Connection object at 0x10e7132d0>

In [11]:
%%bash
sqlite3 test.db
.tables
SELECT * FROM Users;

Users
1|Michelle
2|Sonya
3|Greg

In [ ]:
%%bash
sqlite_bro

In [ ]:
%%bash 
sqlite3 test.db;
SELECT * FROM test.db;
SELECT count(*) FROM Users;
SELECT name FROM Users;
SELECT * FROM Users WHERE id = 2;
SELECT * FROM Users WHERE id = 6;

In [9]:
con = lite.connect('test.db')
with con:
    cur = con.cursor()
    cur.execute('SELECT * FROM Users')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, 'Michelle')
(2, 'Sonya')
(3, 'Greg')

In [10]:
with con:
    cur = con.cursor()
    inputCommands("""CREATE TABLE Jobs(Id INT, Uid INT, Profession TEXT)
    INSERT INTO Jobs VALUES(1,1,'Scientist')
    INSERT INTO Jobs VALUES(2, 2, 'Marketeer')
    INSERT INTO Jobs VALUES(3, 3, 'Developer')""")

In [11]:
with con:
    cur = con.cursor()
    cur.execute('SELECT users.name, jobs.profession FROM jobs INNER JOIN users ON users.ID = jobs.uid')
    rows = cur.fetchall()
    for row in rows:
        print(row)

('Michelle', 'Scientist')
('Sonya', 'Marketeer')
('Greg', 'Developer')

In [ ]:
# Object Relational Mapping
from sqlalchemy import *
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref

engine = create_engine('sqlite:///student.db',echo=True)
Base = declarative_base()

#########
class Student(Base):
    """"""
    __tablename__ = 'student'
    
    id = Column(Integer, primary_key = True)
    username = Column(String)
    firstname = Column(String)
    lastname = Column(String)
    university = Column(String)
    
    # ----------------------------------
    
    def __init__(self, username, firstname, lastname, university):
        """"""
        self.username = username
        self.firstname = firstname
        self.lastname = lastname
        self.university = university
        
# create tables
Base.metadata.create_all(engine)
"""CREATE TABLE student (
	id INTEGER NOT NULL, 
	username VARCHAR, 
	firstname VARCHAR, 
	lastname VARCHAR, 
	university VARCHAR, 
	PRIMARY KEY (id)
)
"""

In [ ]:
import datetime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sql.test import *
#from tabledef import * # this import statement just inserts the class from above

engine = create_engine('sqlite:///student.db', echo=True)

# create a Session
Session = sessionmaker(bind=engine)
session = Session()

# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Create objects  
user = Student("james","James","Boogie","MIT")
session.add(user)
 
user = Student("lara","Lara","Miami","UU")
session.add(user)
 
user = Student("eric","Eric","York","Stanford")
session.add(user)
 
# commit the record the database
session.commit()

In [ ]:
# I JUST COPIED THE REST OF TUTORIAL BELOW

import datetime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from tabledef import *
 
engine = create_engine('sqlite:///student.db', echo=True)
 
# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Create objects  
for student in session.query(Student).order_by(Student.id):
    print student.firstname, student.lastname
    

    
########################

import datetime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from tabledef import *
 
engine = create_engine('sqlite:///student.db', echo=True)
 
# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Select objects  
for student in session.query(Student).filter(Student.firstname == 'Eric'):
    print student.firstname, student.lastname